/* Tarjetas segun tipo */

article.Planta >  .cardContainer{
    background-color: #A5CE85;
}

article.Veneno > .cardContainer{
    background-color: #deb5f1;
}

article.Fuego > .cardContainer{
    background-color: #fcbd7fe7;
}

article.Agua > .cardContainer{
    background-color: #c0d9ec; 
}

article.Bicho > .cardContainer{
    background-color: #8db48a;
}

article.Volador > .cardContainer{
    background-color: #ccc1ff;;
}

article.Normal > .cardContainer{
    background-color:#b9af9b;;
}


article.Acero > .cardContainer{
    background-color: #CCCCCC;
}

article.Dragón > .cardContainer{
    background-color: #cbb1ff;;
}

article.Eléctrico > .cardContainer{
    background-color: #ffffb5;
}

article.Fantasma > .cardContainer{
    background-color: #8f97a0;
}

article.Hada > .cardContainer{
    background-color: #ffbfff;
}

article.Hielo > .cardContainer{
    background-color: #badbe5;
}

article.Lucha > .cardContainer{
    background-color: #c79797;
}

article.Psíquico > .cardContainer{
    background-color: #ffcad5;
}

article.Roca > .cardContainer{
    background-color: #b39578;
}

article.Siniestro > .cardContainer{
    background-color: #A9A9A9;
}

article.Tierra > .cardContainer{
    background-color: #ddc6a9;
}