.card__header img.bulbasaur{
    left:36px;
}

.card__header img.ivysaur{
    left: 50px;
    top: 42px;
}

.card__header img.venusaur{
    left: 31px;
    top: 47px;
}

.card__header img.charmander{
    left: 42px;
    top: 59px;
}

.card__header img.charmeleon{
    left: 51px;
}

.card__header img.charizard{
    left: 36px;
    top: 20px;
}