* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* HEADER */



body > header {
    padding: 10px;
    background-color: #f44336;
    position:fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.nav {
    display: flex;
    justify-content: space-around;
}

.nav__logo a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}

/* MAIN */

main{
    margin-top: 40px;
}



/* CARDS */
.mainContent{
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 1rem;
}


.card__header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    
}

/* .cardButton {
    height: 100%;
    width: 100%;
    z-index: 1;
    background-color: #8e04aa;
} */


.card__header > div {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

article.card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 1px solid black;
    border-radius: 5px;
    width: 160px;
    height: 180px;
    padding: .3rem;
    position: relative;
    
}

.card__header > div > img {
    position:relative;
   
}

.card:hover{
    cursor: pointer;
}

div.card__stat {
    display: grid;
    grid-template-columns: 55px 1fr ;
    align-items: center;
    justify-items: center;
    font-size: 0.7rem;

}


.card__stat__container {
    height: fit-content;
    width: 90%; 
    background-color: #ddd;
    text-align: end;
    
    
}



.hp {height: 3px; width: 45%;max-width: 100%; background-color: #04AA6D;} 
.attack {height: 3px;width: 49%;max-width: 100%; background-color: #f44336;} 
.defense {height: 3px;width: 49%;max-width: 100%; background-color: #2196F3;}
.speed {height: 3px;width: 45%;max-width: 100%; background-color: #f5f100;} 
.specialAttack{height: 3px;width: 65%;max-width: 100%; background-color: #fc6a08;}
.specialDefense{height: 3px;width: 65%;max-width: 100%; background-color: #8e04aa;}


/* Pokemon Files */

.mainPokeFiles > img{
    display: block;
    margin: 0 auto;
   
}

.mainPokeFiles__types {
    display: flex;
    justify-content: space-around;

}

.mainPokeFiles__stat{
    
    display: grid;
    grid-template-columns: 80px 1fr 20px;
    row-gap: 0.1rem;
    align-items: center;
    justify-items: center;
    font-size: 1.5rem;
    padding: 2rem;
}



.mainPokeFiles__stat .hp {height: 8px; width: 45%;max-width: 100%; background-color: #04AA6D;} 
.mainPokeFiles__stat .attack {height: 8px;width: 49%;max-width: 100%; background-color: #f44336;} 
.mainPokeFiles__stat .defense {height: 8px;width: 49%;max-width: 100%; background-color: #2196F3;}
.mainPokeFiles__stat .speed {height: 8px;width: 45%;max-width: 100%; background-color: #f5f100;} 
.mainPokeFiles__stat .specialAttack{height: 8px;width: 65%;max-width: 100%; background-color: #fc6a08;}
.mainPokeFiles__stat .specialDefense{height: 8px;width: 65%;max-width: 100%; background-color: #8e04aa;}

.mainPokeFiles__sprites{
    padding: 1rem;
}

.mainPokeFiles__sprites > div{
    display: grid;
    grid-template-columns: repeat(2,200px);
    grid-template-rows:repeat(100px,200px);

    grid-template-areas: 
                'faceText backText'
                'faceSprite backSprite';
}

#faceText{
    grid-area: faceText;
}

#backText{
    grid-area: backText;
}

#faceSprite{
    grid-area: faceSprite;
}

#backSprite{
    grid-area: backSprite;
}