/* >>> Tipos <<<< */
.card__header > div > div > p{
    width: 70px;
    font-size: .8rem;
    color: white;
    text-shadow: 0 0 3px black;
}

p.Planta {
    /* background-color: #99FF66; */
    background-color: #4B9C0A;
    border-radius: var(--cardBorderRadiusType);
    width: var(--cardWidthTypw);
    border:var(--carBorderType);
}

p.Veneno{
    /* background-color: #CC88BB; */
    background-color: #800080 ;
    border-radius: var(--cardBorderRadiusType);
    width: var(--cardWidthTypw);
    border:var(--carBorderType); 
}

p.Fuego{
    /* background-color: #FF7F00; */
    background-color: #B80000;
    border-radius: var(--cardBorderRadiusType);
    width: var(--cardWidthTypw);
    border:var(--carBorderType);
}

p.Agua{
    /* background-color: #B0E2FF; */
    background-color: #00A0E9;
    border-radius: var(--cardBorderRadiusType);
    width: var(--cardWidthTypw);
    border:var(--carBorderType); 
}

p.Bicho{
    background-color: #99CC33;
    border-radius: var(--cardBorderRadiusType);
    width: var(--cardWidthTypw);
    border:var(--carBorderType);
}

p.Volador {
    background-color: #BAAAFF;
    border-radius: var(--cardBorderRadiusType);
    width: var(--cardWidthTypw);
    border:var(--carBorderType);
}

p.Normal{
    background-color: #dbb872;
    border-radius: var(--cardBorderRadiusType);
    width: var(--cardWidthTypw);
    border:var(--carBorderType);
}

p.Acero{
    background-color: #837777;
    border-radius: var(--cardBorderRadiusType);
    width: var(--cardWidthTypw);
    border:var(--carBorderType);
}

p.Dragón{
    background-color: #7c3aff;
    border-radius: var(--cardBorderRadiusType);
    width: var(--cardWidthTypw);
    border:var(--carBorderType);
}

p.Eléctrico{
    background-color: #FFD700;
    border-radius: var(--cardBorderRadiusType);
    width: var(--cardWidthTypw);
    border:var(--carBorderType);
}

p.Fantasma{
    background-color: #4d7399;
    border-radius: var(--cardBorderRadiusType);
    width: var(--cardWidthTypw);
    border:var(--carBorderType);
}

p.Hada{
    background-color: #ff7bff;
    border-radius: var(--cardBorderRadiusType);
    width: var(--cardWidthTypw);
    border:var(--carBorderType);
}

p.Hielo{
    background-color: #60c3e4;
    border-radius: var(--cardBorderRadiusType);
    width: var(--cardWidthTypw);
    border:var(--carBorderType);
}

p.Lucha{
    background-color: #aa4b4b;
    border-radius: var(--cardBorderRadiusType);
    width: var(--cardWidthTypw);
    border:var(--carBorderType);
}

p.Psíquico{
    background-color: #fa446c;
    border-radius: var(--cardBorderRadiusType);
    width: var(--cardWidthTypw);
    border:var(--carBorderType);
}

p.Roca{
    background-color: #CD853F;
    border-radius: var(--cardBorderRadiusType);
    width: var(--cardWidthTypw);
    border:var(--carBorderType);
}

p.Siniestro{
    /* background-color: #A9A9A9; */
    background-color: #51566e;
    border-radius: var(--cardBorderRadiusType);
    width: var(--cardWidthTypw);
    border:var(--carBorderType);
}

p.Tierra{
    background-color: #db9943;
    border-radius: var(--cardBorderRadiusType);
    width: var(--cardWidthTypw);
    border:var(--carBorderType);
}